/* LIGHT MODE */
/* */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* BUTTON */
button {
  background-color: #c9e6cf;
  margin: 1rem;
  padding-inline: 1.5rem;
  padding-block: 0.1rem;
  border: none;
  border-radius: 10pt;
  cursor: pointer;
}

button:hover {
  background-color: #715b64;
  transition: 0.5s;
}

button img {
  width: 1.5rem;
  height: auto;
}

/* HEADER */
header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /*horizontal */
  align-items: center; /* vertical */
  text-align: center;
}

header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  background-color: #f2c9cf;
  color: #2e3532;
  border-radius: 0.7rem;
  padding: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 0.3rem;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  display: block;
  height: 100%;
  background: #f2f2f2;
}

nav {
  display: block;
  margin-bottom: 0.4rem;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-links a {
  text-decoration: none;
  margin: 1rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: #c9e6cf;
  color: #715b64;
  border-radius: 0.5rem;
}

/* PROFILE CONTENTS */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f2c9cf;
  border-radius: 30pt;
  padding: 2rem;
}

.profile img {
  margin-top: 0.5rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50pt;
  margin-bottom: 2rem;
  align-self: center;
}

.code-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.code-logos img {
  width: 3em;
  height: auto;
  margin-top: 1rem;
}

.profile h3 {
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: #993366;
}

.profile p {
  display: flex;
  width: 25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333333;
}

/* CONTACT INFORMATION */
.contact-info {
  margin-top: 2rem;
  display: block;
}

.contact-info h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  background-color: #f2c9cf;
  color: #2e3532;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav-contact {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-contact a {
  text-decoration: none;
  margin: 1rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: #c9e6cf;
  border-radius: 0.5rem;
}

.nav-contact img[alt='gmail'] {
  padding-block: 0.2rem;
}

.nav-contact a img {
  margin: auto;
  width: 2.2rem;
  height: auto;
}

/* --- ABOUT ME --- */
.about-me {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 40rem;
  color: #2e3532;
}

#aboutMe-photo {
  width: 40rem;
  height: auto;
  border-radius: 50pt;
}

.about-me h2 {
  margin-top: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-me p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: small;
  text-align: justify;
}

/* --- PROJECTS--- */
#artProject {
  width: 70rem;
  height: auto;
  border-radius: 50pt;
}

/* Hover links */
.nav-links a:hover {
  color: #c9e6cf;
  background-color: #715b64;
  transition: 0.5s;
}

.nav-contact a:hover {
  background-color: #715b64;
  transition: 0.5s;
}

/* --- footer --- */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
  color: #2e3532;
}

.footer img {
  margin-top: 1rem;
}

.footer-contact {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer-contact a {
  text-decoration: none;
  margin-inline: 1rem;
  background-color: #f2c9cf;
  color:#2e3532;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer p {
  margin-top: 0.3rem;
}
