@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* LIGHT MODE */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: lato;
}

/* --------------- HEADER --------------- */
header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /*horizontal */
  align-items: center; /* vertical */
  text-align: center;
}

header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  background-color: #d2b9f0;
  color: #2e3532;
  border-radius: 0.7rem;
  padding: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 0.3rem;
  transition: 0.3s;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  display: block;
  height: 100%;
  background: #dedfea;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* --------------- BUTTON --------------- */
button {
  cursor: pointer;
  background-color: #96e0bb;
  margin: 0.5rem;
  padding-inline: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s;
}

button img {
  padding-block: 0.3rem;
  text-align: center;
  width: 1.5rem;
  height: auto;
  transition: 0.3s;
}

/* --------------- NAVIGATION --------------- */

nav {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.nav-links {
  align-items: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-links li {
  text-decoration: none;
  margin-top: 1rem;
}

.nav-links a {
  cursor: pointer;
  text-decoration: none;
  margin: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: #96e0bb;
  color: #3a3a52;
  border-radius: 0.5rem;
  transition: 0.3s;
}

/* --------------- PROFILE CONTENTS --------------- */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #d2b9f0;
  border-radius: 30pt;
  padding: 2rem;
  transition: 0.3s;
}

.profile img {
  margin-top: 0.5rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50pt;
  margin-bottom: 2rem;
  align-self: center;
  transition: 0.3s;
}

.code-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.code-logos img {
  width: 3em;
  height: auto;
  margin-top: 1rem;
}

.profile h3 {
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: #6d5a8d;
  transition: 0.3s;
}

.profile p {
  display: flex;
  width: 25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3a3a52;
  transition: 0.3s;
}

/* --------------- ABOUT ME --------------- */
.about-me {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 40rem;
  color: #292c3d;
  transition: 0.3s;
}

.aboutMe-image {
  width: 100%;
  height: auto;
  border-radius: 50pt;
  transition: 0.3s;
  padding: 0 1rem 0 1rem;
}

#aboutMe-photo {
  width: 100%;
  height: auto;
  border-radius: 50pt;
}

.about-me h2 {
  margin-top: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4a3d60;
  transition: 0.2s;
}

.about-me p {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
  transition: 0.2s;
  background-color: #d2b9f0;
  padding: 1.5rem;
  border-radius: 20pt;
}

/* --------------- PROJECTS --------------- */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #292c3d;
}

/* the note in progress sign */
.project-note {
  cursor: not-allowed;
  background-color: #d46a94;
  color: #ffbaba;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  width: 35rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.project-sub {
  background-color: #d2b9f0;
  padding: 1rem;
  padding-bottom: 2em;
  margin-bottom: 1.5rem;
  margin-inline: 20rem;
  width: 35rem;
  height: auto;
  border-radius: 30pt;
  transition: 0.3s;
}

.projects h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
  transition: 0.2s;
}

.project-img {
  width: 30rem;
  height: auto;
  border-radius: 15pt;
  transition: 0.3s;
}

.projects p {
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  margin-inline: 2.5rem;
  text-align: justify;
  font-size: 0.8rem;
}

/* project-sub buttons */
.a-links {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  background-color: #f0d9b9;
  color: #3a3a52;
  font-size: smaller;
  font-family: lato;
  margin-inline: 1em;
  padding: 0.4em;
  padding-inline: 2rem;
  border-radius: 0.6em;
}

/* --------------- Hover links --------------- */
.nav-links a:hover,
.footer-contact a:hover,
button:hover,
.nav-contact a:hover {
  color: #f0e3b9;
  background-color: #e096b3;
  transition: 0.3s;
  box-shadow: 0rem 0rem 0.5rem 0.1rem #c3c4cd;
}

header h1:hover,
.profile h3:hover,
.about-me h2:hover,
.project-sub h3:hover,
footer h4:hover {
  cursor: default;
  color: #f0d9b9;
  text-shadow: 1px 0px 0.4rem #605474;
  transition: 0.3s;
}

.about-me h2:hover {
  background-color: #d2b9f0;
  border-radius: 0.7rem;
  padding: 0.4rem;
}

.about-me p:hover {
  background-color: #f0b9b9;
  color: #000000;
  box-shadow: 0rem 0rem 0.5rem 0.1rem #c3c4cd;
  transition: 0.3s;
}

.profile:hover,
.project-sub:hover {
  background-color: #f0b9b9;
  color: #955b77;
  transition: 0.3s;
  box-shadow: 0rem 0rem 0.5rem 0.1rem #c3c4cd;
}

.project-img:hover {
  width: 34rem;
  height: auto;
}

.a-links:hover {
  transition: 0.3s;
  text-decoration: none;
  color: #e3f0b9;
  background-color: #9d8abf;
  box-shadow: 0rem 0.1rem 0.3rem 0.1rem #9d8abf;
}

/* --------------- CONTACT INFORMATION --------------- */
.contact-info {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.contact-info h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  background-color: #d2b9f0;
  color: #2e3532;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.3s;
}

.nav-contact {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centers the entire list horizontally */
  align-items: center; /* Aligns the content vertically within the container */
  padding: 0; /* Ensure there's no extra padding in the UL */
  margin: 0;
}

.nav-contact li {
  margin-top: 0.5rem;
  display: flex; /* Make the li a flex container */
  justify-content: center; /* Center the content (images) horizontally */
  align-items: center; /* Center the content vertically */
}

.nav-contact a {
  display: flex; /* Make the anchor a flex container */
  justify-content: center; /* Center the image inside the anchor horizontally */
  align-items: center; /* Center the image inside the anchor vertically */
  cursor: pointer;
  text-decoration: none;
  margin: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  background-color: #96e0bb;
  border-radius: 0.5rem;
  transition: 0.3s;
}

/* adjust youtube logo */
/* .nav-contact img[alt='youtube'] {
  padding-block: 0.1rem;
} */

.nav-contact a img {
  margin: auto;
  width: 2.5rem;
  height: auto;
}

/* --------------- footer ------------------ */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.footer img {
  margin-top: 3rem;
}

.footer p {
  color: #2e3532;
  margin-top: 1rem;
  transition: 0.3s;
}

/* --------------- MEDIA QUERY --------------- */

@media screen and (min-width: 320px) and (max-width: 768px) {
  button {
    margin: 0.2rem;
    padding-inline: 1rem;
  }

  button img {
    width: 1.5rem;
    height: auto;
    padding-block: 0.3rem;
    transition: 0.3s;
  }

  .nav-links a {
    font-size: smaller;
    margin: 0.2rem;
    padding-inline: 0.5rem;
    padding-block: 0.6rem;
  }

  header h1,
  .profile h3 {
    font-size: medium;
  }

  .profile {
    padding: 1rem;
    border-radius: 20pt;
  }

  .profile img {
    width: 10rem;
    height: 10rem;
    border-radius: 30pt;
    transition: 0.3s;
  }

  .profile p {
    font-size: smaller;
    width: 15rem;
    transition: 0.3s;
  }

  .code-logos img {
    width: 2em;
    height: auto;
  }

  .about-me {
    width: 25rem;
    transition: 0.3s;
  }

  .aboutMe-image {
    width: 20rem;
  }

  .about-me h2 {
    font-size: medium;
  }

  .about-me p {
    padding: 1em 3em 1em 3em;
  }

  .projects,
  .project-note,
  .project-sub {
    width: 20rem;
    padding: 2rem;
    padding-bottom: 2em;
    transition: 0.3s;
  }

  .projects p {
    font-size: 0.7rem;
  }

  .project-img,
  .project-img:hover {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: 0.3s;
  }

  .contact-info {
    width: 12rem;
    transition: 0.3s;
  }

  .contact-info h4 {
    font-size: small;
    transition: 0.3s;
  }

  .nav-contact a {
    margin: 0.3rem;
    padding-inline: 0.7rem;
    padding-block: 0.7rem;
    transition: 0.3s;
  }

  .nav-contact a img {
    width: 1.5rem;
    height: auto;
    transition: 0.3s;
  }
}
