/* LIGHT MODE */
/* */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* --------------- BUTTON --------------- */
button {
  background-color: #c9e6cf;
  margin: 1rem;
  padding-inline: 1.5rem;
  padding-block: 0.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

button img {
  width: 1.5rem;
  height: auto;
  transition: 0.5s;
}

/* --------------- HEADER --------------- */
header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /*horizontal */
  align-items: center; /* vertical */
  text-align: center;
}

header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  background-color: #f2c9cf;
  color: #2e3532;
  border-radius: 0.7rem;
  padding: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 0.3rem;
  transition: 0.5s;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  display: block;
  height: 100%;
  background: #f2f2f2;
  transition: 0.5s;
}

nav {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-links a {
  text-decoration: none;
  margin: 1rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: #c9e6cf;
  color: #715b64;
  border-radius: 0.5rem;
  transition: 0.5s;
}

/* --------------- PROFILE CONTENTS --------------- */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f2c9cf;
  border-radius: 30pt;
  padding: 2rem;
  transition: 0.5s;
}

.profile img {
  margin-top: 0.5rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50pt;
  margin-bottom: 2rem;
  align-self: center;
  transition: 0.5s;
}

.code-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.code-logos img {
  width: 3em;
  height: auto;
  margin-top: 1rem;
}

.profile h3 {
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: #993366;
  transition: 0.5s;
}

.profile p {
  display: flex;
  width: 25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333333;
  transition: 0.5s;
}

/* --------------- ABOUT ME --------------- */
.about-me {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 40rem;
  color: #2e3532;
  transition: 0.5s;
}

#aboutMe-photo {
  width: 40rem;
  height: auto;
  border-radius: 50pt;
  transition: 0.5s;
}

.about-me h2 {
  margin-top: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: 0.5s;
}

.about-me p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  text-align: justify;
  transition: 0.5s;
}

/* --------------- PROJECTS --------------- */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-note {
  background-color: #993366;
  color: #c9e6cf;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  width: 35rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.project-sub {
  background-color: #f2c9cf;
  padding: 1rem;
  margin-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  margin-inline: 20rem;
  width: 35rem;
  height: auto;
  border-radius: 30pt;
  transition: 0.5s;
}

.projects h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
}

.projects p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-inline: 2.5rem;
  text-align: justify;
  font-size: 0.8rem;
}

.project-img {
  width: 30rem;
  height: auto;
  border-radius: 30pt;
  transition: 0.5s;
}

/* --------------- Hover links --------------- */
.nav-links a:hover,
.footer-contact a:hover {
  color: #c9e6cf;
  background-color: #715b64;
  transition: 0.5s;
}

button:hover,
.nav-contact a:hover {
  background-color: #715b64;
  transition: 0.5s;
}

.project-sub:hover {
  background-color: #c9e6cf;
  transition: 0.5s;
}

.project-img:hover {
  cursor: pointer;
  width: 32rem;
  height: auto;
}

/* --------------- CONTACT INFORMATION --------------- */
.contact-info {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  display: block;
}

.contact-info h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  background-color: #f2c9cf;
  color: #2e3532;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.5s;
}

.nav-contact {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-contact a {
  text-decoration: none;
  margin: 1rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: #c9e6cf;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.nav-contact img[alt='gmail'] {
  padding-block: 0.2rem;
}

.nav-contact a img {
  margin: auto;
  width: 2.2rem;
  height: auto;
}

/* --------------- footer ------------------ */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
  color: #2e3532;
  transition: 0.5s;
}

.footer img {
  margin-top: 1rem;
}

.footer-contact {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer-contact a {
  text-decoration: none;
  margin-inline: 1rem;
  background-color: #f2c9cf;
  color: #2e3532;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer p {
  margin-top: 1rem;
  transition: 0.5s;
}

/* --------------- MEDIA QUERY --------------- */

@media screen and (min-width: 320px) and (max-width: 768px) {
  button {
    margin: 0.4rem;
    padding-inline: 1rem;
    padding-block: 0.3rem;
  }

  button img {
    width: 0.9rem;
    height: auto;
    transition: 0.5s;
  }

  .nav-links a {
    font-size: smaller;
    margin: 0.4rem;
    padding-inline: 0.3rem;
    padding-block: 0.3rem;
  }

  .profile {
    padding: 1rem;
    border-radius: 20pt;
  }

  .profile img {
    width: 10rem;
    height: 10rem;
    border-radius: 30pt;
    transition: 0.5s;
  }

  header h1,
  .profile h3 {
    font-size: small;
  }

  .profile p {
    font-size: small;
    width: 15rem;
  }

  .code-logos img {
    width: 2em;
    height: auto;
  }

  .about-me,
  #aboutMe-photo {
    width: 25rem;
    transition: 0.5s;
  }

  .about-me h2 {
    font-size: medium;
  }

  .about-me p {
    padding: 1em 3em 1em 3em;
  }

  .projects,
  .project-note,
  .project-sub {
    width: 20rem;
    padding: 1rem;
    transition: 0.5s;
  }

  .projects p {
    font-size: 0.7rem;
  }

  .project-img,
  .project-img:hover {
    width: 20rem;
    height: auto;
    transition: 0.5s;
  }

  .contact-info {
    width: 12rem;
    transition: 0.5s;
  }

  .contact-info h4 {
    font-size: small;
    transition: 0.5s;
  }

  .nav-contact a {
    margin: 0.5rem;
    padding-inline: 0.5rem;
    padding-block: 0.3rem;
    transition: 0.5s;
  }

  .nav-contact a img {
    width: 1.4rem;
    height: auto;
    transition: 0.5s;
  }
}
