/* DARK MODE */
/* */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: #3b4661;
  margin: 1rem;
  padding: 1rem;
  border-radius: 100%;
}

button img {
  width: 2.5rem;
  height: auto;
}

header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /*horizontal */
  align-items: center; /* vertical */
  text-align: center;
}

header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  background-color: #52797f;
  color: #d9d9d9;
  border-radius: 0.7rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  display: block;
  height: 100%;
  background: #121230;
}

nav {
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-links a {
  text-decoration: none;
  margin: 1rem;
  padding: 1rem;
  background-color: #3b4661;
  color: #f2a365;
  border-radius: 0.3rem;
  font-weight: 800;
}

/* PROFILE CONTENTS */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #52797f;
  border-radius: 30pt;
  padding: 2rem;
}

.profile img {
  margin-top: 0.5rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50pt;
  margin-bottom: 2rem;
  align-self: center;
}

.code-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.code-logos img {
  width: 3em;
  height: auto;
  margin-top: 1rem;
}

.profile h3 {
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: #f2c9cf;
}

.profile p {
  display: flex;
  width: 25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d9d9d9;
}

/* CONTACT INFORMATION */
.contact-info {
  margin-top: 2%;
  display: block;
  text-align: center;
  margin-bottom: 10%;
}

.contact-info h4 {
  background-color: #52797f;
  color: #d9d9d9;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.nav-contact {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-contact a {
  text-decoration: none;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: #3b4661;
  border-radius: 0.3rem;
}

.nav-contact a img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: auto;
}

/* --- ABOUT ME --- */
#aboutMe-photo {
  width: 50rem;
  height: auto;
  border-radius: 50pt;
}

/* --- PROJECTS--- */
#artProject {
  width: 70rem;
  height: auto;
  border-radius: 50pt;
}

/* Hover links */
.nav-links a:hover {
  color: #3b4661;
  background-color: #f2a365;
  transition: 0.5s;
}

.nav-contact a:hover {
  background-color: #f2a365;
  transition: 0.5s;
}

/* --- footer --- */
.footer {
  margin-top: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  color: #ffffff;
}

.footer img {
  margin-top: 1rem;
}

.footer p {
  margin-top: 1rem;
}
